<!-- <div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div> -->

<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    order
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("Order by Wage Lower", jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("Order by Wage Upper", jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("Order by Publish Time", jobs_path ) %>
    </li>
  </ul>
</div>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_job_path(job)) %> |
      <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?"}) %>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
